force-app/main/default/flows/Approve_Loan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Approve Loan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approve Loan</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>getLoan</name>
        <label>Get loan</label>
        <locationX>329</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>saveChanges</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Loan__c</object>
        <outputAssignments>
            <assignToReference>loan.FirstName__c</assignToReference>
            <field>FirstName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>loan.LastName__c</assignToReference>
            <field>LastName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>loan.Status__c</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>saveChanges</name>
        <label>saveChanges</label>
        <locationX>329</locationX>
        <locationY>315</locationY>
        <connector>
            <targetReference>notificationScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Loan__c</object>
    </recordUpdates>
    <screens>
        <name>notificationScreen</name>
        <label>Success</label>
        <locationX>327</locationX>
        <locationY>425</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayText</name>
            <fieldText>{!loan.FirstName__c} {!loan.LastName__c}&#39;s loan has now been approved.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getLoan</startElementReference>
    <status>Active</status>
    <variables>
        <name>loan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
