force-app/main/default/flows/Order_Vehicle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>checkPaymentType</name>
        <label>Check payment type</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isCash</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputPaymentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cash</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createInvoice</targetReference>
            </connector>
            <label>Cash</label>
        </rules>
        <rules>
            <name>isLoan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputPaymentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showLoanCalculator</targetReference>
            </connector>
            <label>Loan</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkStatus</name>
        <label>Check Vehicle Status</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>screenExistingPurchase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isPurchase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vehicle.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Purchase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Price</targetReference>
            </connector>
            <label>Status is Purchase</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>paymentTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Type__c</picklistField>
        <picklistObject>Vehicle__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>currencyPrice</name>
        <dataType>Currency</dataType>
        <expression>{!numberPrice}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>numberDownpayment</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!downpayment})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>numberPrice</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!price})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>numberRate</name>
        <dataType>Number</dataType>
        <expression>VALUE({!rate})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>numberTerms</name>
        <dataType>Number</dataType>
        <expression>VALUE({!terms})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ssn</name>
        <dataType>String</dataType>
        <expression>LEFT(SUBSTITUTE({!inputSSN}, &quot;-&quot;, &quot;&quot;), 9)</expression>
    </formulas>
    <interviewLabel>OrderVehicleFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Vehicle</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createInvoice</name>
        <label>Create invoice</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>updateVehicleForCash</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>vehicle.Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordCreates>
    <recordCreates>
        <name>createLoan</name>
        <label>Create loan</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignRecordIdToReference>loanId</assignRecordIdToReference>
        <connector>
            <targetReference>updateVehicle</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>vehicle.Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Downpayment__c</field>
            <value>
                <elementReference>numberDownpayment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employer__c</field>
            <value>
                <elementReference>inputEmployer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName__c</field>
            <value>
                <elementReference>inputFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interest__c</field>
            <value>
                <elementReference>numberRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName__c</field>
            <value>
                <elementReference>inputLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>numberPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SSN__c</field>
            <value>
                <elementReference>ssn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terms__c</field>
            <value>
                <elementReference>numberTerms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Loan__c</object>
    </recordCreates>
    <recordLookups>
        <name>getVehicle</name>
        <label>Get vehicle</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Vehicle__c</object>
        <outputAssignments>
            <assignToReference>vehicle.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vehicle.Owner__c</assignToReference>
            <field>Owner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vehicle.Price__c</assignToReference>
            <field>Price__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vehicle.Status__c</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateVehicle</name>
        <label>Update vehicle</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>showLoanSuccess</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Application__c</field>
            <value>
                <elementReference>loanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Type__c</field>
            <value>
                <elementReference>paymentTypes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>numberPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Purchase</stringValue>
            </value>
        </inputAssignments>
        <object>Vehicle__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateVehicleForCash</name>
        <label>Update Vehicle</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>screenCashSuccess</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Type__c</field>
            <value>
                <stringValue>Cash</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>numberPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Purchase</stringValue>
            </value>
        </inputAssignments>
        <object>Vehicle__c</object>
    </recordUpdates>
    <screens>
        <name>screenCashSuccess</name>
        <label>Show cash success</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>textCashSuccess2</name>
            <fieldText>&lt;div class=&quot;slds-text-heading_medium slds-p-bottom_medium&quot;&gt;Success&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textCashMessage</name>
            <fieldText>&lt;div class=&quot;slds-text-body_regular&quot;&gt;The purchase invoice is now create and the order is complete.&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenExistingPurchase</name>
        <label>Existing Purchase</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>textExistingPurchase</name>
            <fieldText>&lt;p&gt;This vehicle has already been purchased.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>showLoanCalculator</name>
        <label>Loan calculator</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>showLoanForm</targetReference>
        </connector>
        <fields>
            <name>lcLoanCalculator</name>
            <extensionName>c:loanCalculator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Downpayment</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Price</name>
                <value>
                    <elementReference>price</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Rate</name>
                <value>
                    <stringValue>6</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Terms</name>
                <value>
                    <stringValue>60</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>price</assignToReference>
                <name>Price</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>downpayment</assignToReference>
                <name>Downpayment</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>rate</assignToReference>
                <name>Rate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>terms</assignToReference>
                <name>Terms</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>showLoanForm</name>
        <label>Loan form</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createLoan</targetReference>
        </connector>
        <fields>
            <name>inputFirstName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vehicle.Owner__r.FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>inputLastName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vehicle.Owner__r.LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>inputSSN</name>
            <fieldText>Social Security Number</fieldText>
            <fieldType>PasswordField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>inputEmployer</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vehicle.Owner__r.Employer__c</elementReference>
            </defaultValue>
            <fieldText>Employer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>inputDOB</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>vehicle.Owner__r.Birthdate</elementReference>
            </defaultValue>
            <fieldText>Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>showLoanSuccess</name>
        <label>Show loan success</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>textLoanSuccess</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Order Complete!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textLoanMessage</name>
            <fieldText>&lt;p&gt;Click &lt;b&gt;Finish&lt;/b&gt; to refresh the record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>showPaymentType</name>
        <label>Select payment type</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>checkPaymentType</targetReference>
        </connector>
        <fields>
            <name>Price_Quote</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>currencyPrice</elementReference>
            </defaultValue>
            <fieldText>Price Quote</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>inputPaymentType</name>
            <choiceReferences>paymentTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getVehicle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Price</name>
        <label>Get Price</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>showPaymentType</targetReference>
        </connector>
        <flowName>Price_Quote</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>price</assignToReference>
            <name>price</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>downpayment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>price</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>terms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vehicle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vehicle__c</objectType>
    </variables>
</Flow>
