force-app/main/default/flows/orderVehicleFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <decisions>
        <name>checkPaymentType</name>
        <label>Check payment type</label>
        <locationX>219</locationX>
        <locationY>213</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isCash</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputPaymentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cash</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createInvoice</targetReference>
            </connector>
            <label>Cash</label>
        </rules>
        <rules>
            <name>isLoan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputPaymentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showLoanForm</targetReference>
            </connector>
            <label>Loan</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>paymentTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Type__c</picklistField>
        <picklistObject>Vehicle__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>numberDownpayment</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!downpayment})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>numberPrice</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!price})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>numberRate</name>
        <dataType>Number</dataType>
        <expression>VALUE({!rate})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>numberTerms</name>
        <dataType>Number</dataType>
        <expression>VALUE({!terms})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ssn</name>
        <dataType>String</dataType>
        <expression>LEFT(SUBSTITUTE({!inputSSN}, &quot;-&quot;, &quot;&quot;), 9)</expression>
    </formulas>
    <interviewLabel>OrderVehicleFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Vehicle Flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>createInvoice</name>
        <label>Create invoice</label>
        <locationX>404</locationX>
        <locationY>213</locationY>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>vehicle.Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordCreates>
    <recordCreates>
        <name>createLoan</name>
        <label>Create loan</label>
        <locationX>34</locationX>
        <locationY>406</locationY>
        <assignRecordIdToReference>loanId</assignRecordIdToReference>
        <connector>
            <targetReference>updateVehicle</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>vehicle.Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Downpayment__c</field>
            <value>
                <elementReference>numberDownpayment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employer__c</field>
            <value>
                <elementReference>inputEmployer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName__c</field>
            <value>
                <elementReference>inputFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interest__c</field>
            <value>
                <elementReference>numberRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName__c</field>
            <value>
                <elementReference>inputLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>numberPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SSN__c</field>
            <value>
                <elementReference>ssn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terms__c</field>
            <value>
                <elementReference>numberTerms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Loan__c</object>
    </recordCreates>
    <recordLookups>
        <name>getVehicle</name>
        <label>Get vehicle</label>
        <locationX>217</locationX>
        <locationY>18</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>showPaymentType</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Vehicle__c</object>
        <outputAssignments>
            <assignToReference>vehicle.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vehicle.Owner__c</assignToReference>
            <field>Owner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vehicle.Price__c</assignToReference>
            <field>Price__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateVehicle</name>
        <label>Update vehicle</label>
        <locationX>35</locationX>
        <locationY>502</locationY>
        <connector>
            <targetReference>showLoanSuccess</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Application__c</field>
            <value>
                <elementReference>loanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Type__c</field>
            <value>
                <stringValue>Loan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>numberPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Purchase</stringValue>
            </value>
        </inputAssignments>
        <object>Vehicle__c</object>
    </recordUpdates>
    <screens>
        <name>showLoanCalculator</name>
        <label>Loan calculator</label>
        <locationX>34</locationX>
        <locationY>310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createLoan</targetReference>
        </connector>
        <fields>
            <name>lcLoanCalculator</name>
            <extensionName>c:loanCalculator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Downpayment</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Price</name>
                <value>
                    <elementReference>vehicle.Price__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Rate</name>
                <value>
                    <stringValue>6</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Terms</name>
                <value>
                    <stringValue>60</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>price</assignToReference>
                <name>Price</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>downpayment</assignToReference>
                <name>Downpayment</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>rate</assignToReference>
                <name>Rate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>terms</assignToReference>
                <name>Terms</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>showLoanForm</name>
        <label>Loan form</label>
        <locationX>34</locationX>
        <locationY>214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>showLoanCalculator</targetReference>
        </connector>
        <fields>
            <name>inputFirstName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vehicle.Owner__r.FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>inputLastName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vehicle.Owner__r.LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>inputSSN</name>
            <fieldText>Social Security Number</fieldText>
            <fieldType>PasswordField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>inputEmployer</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vehicle.Owner__r.Employer__c</elementReference>
            </defaultValue>
            <fieldText>Employer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>inputDOB</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>vehicle.Owner__r.Birthdate</elementReference>
            </defaultValue>
            <fieldText>Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>showLoanSuccess</name>
        <label>Show loan success</label>
        <locationX>35</locationX>
        <locationY>598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>textLoanSuccess</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Success&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This loan is now submitted and pending review.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>showPaymentType</name>
        <label>Select payment type</label>
        <locationX>217</locationX>
        <locationY>114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>checkPaymentType</targetReference>
        </connector>
        <fields>
            <name>textVehicle</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;How will {!vehicle.Owner__r.FirstName} be paying?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inputPaymentType</name>
            <choiceReferences>paymentTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>getVehicle</startElementReference>
    <status>Active</status>
    <variables>
        <name>downpayment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>price</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>terms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vehicle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vehicle__c</objectType>
    </variables>
</Flow>
