force-app/main/default/flows/Price_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>add100</name>
        <label>+10,000</label>
        <locationX>260</locationX>
        <locationY>759</locationY>
        <assignmentItems>
            <assignToReference>price</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10000.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ifSelfDriving</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addAutopilot</name>
        <label>+5,000</label>
        <locationX>438</locationX>
        <locationY>1012</locationY>
        <assignmentItems>
            <assignToReference>price</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>5000.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ifSunroof</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addBattery100P</name>
        <label>+12,000</label>
        <locationX>418</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>price</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>12000.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ifSelfDriving</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addBattery75</name>
        <label>+5,000</label>
        <locationX>106</locationX>
        <locationY>759</locationY>
        <assignmentItems>
            <assignToReference>price</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>5000.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ifSelfDriving</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addFlarePrice</name>
        <label>+40,000</label>
        <locationX>262</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>price</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>40000.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkBattery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addFlashPrice</name>
        <label>+50,000</label>
        <locationX>412</locationX>
        <locationY>507</locationY>
        <assignmentItems>
            <assignToReference>price</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>50000.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkBattery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addFlintPrice</name>
        <label>+30,000</label>
        <locationX>111</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>price</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>30000.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkBattery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addHydraulicSystem</name>
        <label>+1,100</label>
        <locationX>1102</locationX>
        <locationY>999</locationY>
        <assignmentItems>
            <assignToReference>price</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1100.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addRearSeats</name>
        <label>+1,300</label>
        <locationX>933</locationX>
        <locationY>1002</locationY>
        <assignmentItems>
            <assignToReference>price</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1300.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ifHydraulicSystem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addSelfDriving</name>
        <label>+3,000</label>
        <locationX>259</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>price</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>3000.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ifAutopilot</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addSpoiler</name>
        <label>+775</label>
        <locationX>771</locationX>
        <locationY>1006</locationY>
        <assignmentItems>
            <assignToReference>price</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>775.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ifRearSeats</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addSunroof</name>
        <label>+1,500</label>
        <locationX>607</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>price</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1500.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ifSpoiler</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_Price</name>
        <label>Return Price</label>
        <locationX>1273</locationX>
        <locationY>880</locationY>
        <assignmentItems>
            <assignToReference>price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>price</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>checkBattery</name>
        <label>Check Battery</label>
        <locationX>261</locationX>
        <locationY>624</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ifBattery75</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vehicle.Battery__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>75 kWh</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addBattery75</targetReference>
            </connector>
            <label>75 kWh</label>
        </rules>
        <rules>
            <name>ifBattery100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vehicle.Battery__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100 kWh</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add100</targetReference>
            </connector>
            <label>100 kWh</label>
        </rules>
        <rules>
            <name>ifBattery100P</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vehicle.Battery__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100P kWh</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addBattery100P</targetReference>
            </connector>
            <label>100P kWh</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkModel</name>
        <label>Check Model</label>
        <locationX>260</locationX>
        <locationY>363</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ifModelFlint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vehicle.Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flint</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addFlintPrice</targetReference>
            </connector>
            <label>Flint</label>
        </rules>
        <rules>
            <name>ifModelFlare</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vehicle.Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flare</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addFlarePrice</targetReference>
            </connector>
            <label>Flare</label>
        </rules>
        <rules>
            <name>ifModelFlash</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vehicle.Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flash</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addFlashPrice</targetReference>
            </connector>
            <label>Flash</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasVehicleDecision</name>
        <label>Has Vehicle</label>
        <locationX>258</locationX>
        <locationY>180</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasVehicleTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vehicle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getVehicle</targetReference>
            </connector>
            <label>False</label>
        </rules>
        <rules>
            <name>HasVehicleFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vehicle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkModel</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifAutopilot</name>
        <label>Autopilot</label>
        <locationX>439</locationX>
        <locationY>878</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isAutopilot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vehicle.Autopilot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addAutopilot</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>isntAutopilot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vehicle.Autopilot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ifSunroof</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifHydraulicSystem</name>
        <label>Hydraulic System</label>
        <locationX>1096</locationX>
        <locationY>877</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isHydraulicSystem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vehicle.Hydraulic_System__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addHydraulicSystem</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>isntHydraulicSystem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vehicle.Hydraulic_System__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Price</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifRearSeats</name>
        <label>Rear Seats</label>
        <locationX>932</locationX>
        <locationY>878</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isRearSeats</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vehicle.Rear_Seats__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addRearSeats</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>isntRearSeats</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vehicle.Rear_Seats__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ifHydraulicSystem</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifSelfDriving</name>
        <label>Self Driving</label>
        <locationX>259</locationX>
        <locationY>879</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isSelfDriving</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vehicle.Self_Driving__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addSelfDriving</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>isntSelfDriving</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vehicle.Self_Driving__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ifAutopilot</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifSpoiler</name>
        <label>Spoiler</label>
        <locationX>771</locationX>
        <locationY>876</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isSpoiler</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vehicle.Spoiler__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addSpoiler</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>isntSpoiler</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vehicle.Spoiler__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ifRearSeats</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifSunroof</name>
        <label>Sunroof</label>
        <locationX>605</locationX>
        <locationY>877</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isSunroof</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vehicle.Sunroof__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addSunroof</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>isntSunroof</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vehicle.Sunroof__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ifSpoiler</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>Price Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Price Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getVehicle</name>
        <label>Get vehicle</label>
        <locationX>520</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkModel</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Vehicle__c</object>
        <outputReference>vehicle</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Model__c</queriedFields>
        <queriedFields>Battery__c</queriedFields>
        <queriedFields>Self_Driving__c</queriedFields>
        <queriedFields>Autopilot__c</queriedFields>
        <queriedFields>Sunroof__c</queriedFields>
        <queriedFields>Spoiler__c</queriedFields>
        <queriedFields>Rear_Seats__c</queriedFields>
        <queriedFields>Hydraulic_System__c</queriedFields>
    </recordLookups>
    <startElementReference>HasVehicleDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>price</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vehicle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Vehicle__c</objectType>
    </variables>
</Flow>
