force-app/main/default/flows/Reset_Vehicle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Reset Vehicle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reset Vehicle</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>deleteLoans</name>
        <label>Delete Loans</label>
        <locationX>213</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>updateVehicle</targetReference>
        </connector>
        <filters>
            <field>Vehicle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Loan__c</object>
    </recordDeletes>
    <recordUpdates>
        <name>updateVehicle</name>
        <label>Update Vehicle</label>
        <locationX>378</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Complete</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Evaluation</stringValue>
            </value>
        </inputAssignments>
        <object>Vehicle__c</object>
    </recordUpdates>
    <screens>
        <name>Complete</name>
        <label>Complete</label>
        <locationX>547</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>deleteLoans</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
